<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        a{
            color:#fff;
        }
        #btn_group{
            padding:20px 20px;
        }
        #btn_group button{
            margin-right:10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">汽车管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/client">客人查询</a></li>
                <li><a href="/rent">租赁登记</a></li>
                <li><a href="/return">归还登记</a></li>
                <li><a href="/statistics">统计分析</a></li>
                <li class="active"><a href="/showClass">类别档案</a></li>
                <li><a href="/car">汽车档案</a></li>
                <li><a href="/echarts">echarts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/quit">退出系统</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="btn-group" role="group" aria-label="..." id="btn_group">
        <button type="button" class="btn btn-default  btn-info" id="create"  data-toggle="modal" data-target="#myModal">增加</button>
        <button type="button" class="btn btn-danger" id="del">删除</button>
        <div type="button" class="btn btn-danger" id="return"><a href="/index">返回</a></div>
    </div>

    <table class="table table-bordered ">
        <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>类别名称</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <%
        for(var i=0;i<result.length;i++){
        %>
        <tr>
            <th><input type="radio" name="check" class="gou" data-id="<%=result[i].id%>"></th>
            <th><%=i+1%></th>
            <th><%=result[i].class%></th>

        </tr>

        <%
        }
        %>
        </tbody>
    </table>

    <!--//新建-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建类</h4>
                </div>
                <div class="modal-body">
                    <p>类型：
                        <input type="text" name="type" id="type"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" id="btn">ok</button>
                </div>

            </div>
        </div>
    </div>



</div>

    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

<script>
    // //新建类
    $("#btn").click(function(){
        // console.log($("option:selected").val())

        $.post("/saveClass",{"class":$("input[name=type]").val()},function(data){
            console.log(data);
            if(data.result==1){
                alert("插入成功");
                window.location="/showClass";
            }else if(data.result==-1){
                // alert("")
            }
        })
    })

    // //删除
    $("#del").click(function(){
        var id=$("input[name=check]:checked").data("id");
        // console.log(id);
        $("input[name=check]:checked").parent("th").parent("tr").remove();
        $.post("/delClass/"+id,function(data){
            if(data.result==1){
                alert("删除成功");
            }
        })
    })
</script>

</body>
</html>
